[submodule "esp32"]
	path = esp32
	url = https://github.com/redchenjs/nfc_attendance_system_esp32
[submodule "server"]
	path = server
	url = https://github.com/redchenjs/nfc_attendance_system_server
[submodule "weixin"]
	path = weixin
	url = https://github.com/redchenjs/nfc_attendance_system_weixin
